<form action="/my-profile/image/{{_id}}" method="POST" enctype="multipart/form-data">
    <br>
    <label for="userImage">Foto de perfil:</label>

    <input type="file" name="userImage" value="">

    <button type="submit">Salvar</button>

</form>