<div class="nav-bar">
  <a class="active" href="/home">ESCAMBAL</a>
  <a href="/home">Página inicial</a>
  <a href="/home/products">Produtos</a>
  <a href="/about">Conheça nossa história</a>
  <div class="left-nav">
  <a class="left" href="/my-profile">Meu perfil</a>
  <a class="left" href="/logout">Logout</a>
  </div>
</div>
<div class="home-container">
  <div class="home-text-container"> 
      <h1 class="title">Escambal</h1>
      <br>
      <p class="sub-title">Sua plataforma de trocas</p>
    </div>
  </div>

</div>