<div class="topnav" id="myTopnav">

    <div class="logo">
    <a href="/"><img src="https://res.cloudinary.com/escambalapp/image/upload/v1570636194/escambal-app-folder/css.images/Copy_of_Untitled_l1ynt5.png" alt="logo"></a>
        </div>
    <div>
                <a href="/logout">Logout</a>
                <a href="/my-profile">Meu perfil</a>
                <a href="/home/about">Nossa história</a>
                <a href="/home/products">Descubra produtos</a>
                <a href="/home" class="active">Página inicial</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
        </div>
</div>
<h1>{{title}}</h1>
<br>
<form action="/my-products" method="POST" enctype="multipart/form-data">
    <label for="name">Nome:
    </label>
    <input type="text" name="name" id="name">
    <br>
    <label for="occupation">Descrição:
    </label>
    <input type="text" name="description" id="description">
    <br>

    <label for="category">Categoria</label>
    <select name="category" id="category">
        <option value="Eletrônicos e materiais de escritório">Eletrônicos e materiais de escritório</option>
        <option value="Esporte e Lazer">Esporte e Lazer</option>
        <option value="Vestuário e Acessórios">Vestuário e Acessórios</option>
        <option value="Casa, Cozinha e Jardim">Casa, Cozinha e Jardim</option>
        <option value="Beleza e Cuidados pessoais">Beleza e Cuidados pessoais</option>
        <option value="Outros">Outros</option>
    </select>

    <input type="file" name="imageUrl">

    <label for="quantity">Quantidade:
    </label>
    <input type="number" name="quantity" id="quantity">
    <br>
    <input type="hidden" name="user" value="{{user}}">
    <input type="hidden" name="status" value="{{status}}">

    <button type="submit">Salvar</button>
</form>