
<h1>Ofertas</h1>

{{#each orders}}
<h2>{{myUser.name}} quer ofertar:</h2>
<h2>{{myProducts.[0].name}}</h2>
<h2>{{myProducts.[0].status}}</h2>

<br>
<h2>por: {{userProducts.[0].name}}</h2>
<br>

<button>Aceitar</button>
<button>Recusar</button>
{{/each}}