<h1>Produtos pendentes</h1>

{{#each filteredOrders}}
<h2>Você ofertou:</h2>
<h2>{{myProducts.[0].name}}</h2>
<h2>{{myProducts.[0].status}}</h2>

<br>
<h2>por: {{userProducts.[0].name}}</h2>
<br>

<button><a href="/{{_id}}/cancel">Cancelar Oferta</a></button>

{{/each}}