body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.colors {
  color: #37585b;
  color: #3f7e84;
  color: #f7fcdb;
  color: #f7c331;
  color: #f7882f;
}
/* ---------------------------------------------------------- */
/* ----------- PRIVATE NAVBAR EDIT * -----------/
/* ---------------------------------------------------------- */

.logo {
  width: 76%;
  margin-left: 20px;
}

.one,
.two,
.three {
  background-color: #fff;
  height: 5px;
  width: 100%;
  margin: 6px auto;
  transition-duration: 0.3s;
}

.my-navbar__toggle {
  width: 40px;
  height: 30px;
  margin-right: 20px;
  margin-top: 7px;
}

.my-navbar {
  display: flex;
  /* justify-content: space-around; */
  background: rgb(240, 230, 140);
  background: linear-gradient(
    0deg,
    rgba(240, 230, 140, 1) 0%,
    rgba(238, 232, 170, 1) 100%
  );
}

.my-navbar.on {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(240, 230, 140);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.my-navbar.on .my-navbar__items {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.my-navbar.on .my-navbar__toggle .one {
  transform: rotate(45deg) translate(7px, 7px);
}

.my-navbar.on .my-navbar__toggle .two {
  opacity: 0;
}

.my-navbar.on .my-navbar__toggle .three {
  transform: rotate(-45deg) translate(8px, -8px);
}

.my-navbar.on .logo {
  display: none;
}

.my-navbar__items {
  display: none;
}

.my-navbar__items a {
  margin: auto 0;
  color: #f2f2f2;
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: 1.5px 1.5px black;
  margin-left: 60px;
  display: inline-table;
}

.topnav {
  overflow: hidden;
  height: 60px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.topnav a {
  float: right;
  /* display: block; */
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.1em;
  text-shadow: 1.5px 1.5px black;
  /* border: 1px white solid; */
  border-bottom: solid 5px #f7c331;
}

.topnav a:hover {
  background-color: #37585b;
  color: #f7c331;
  text-decoration: none;
}

.topnav a.active {
  background-color: #f7c331;
  color: white;
}

.topnav a.active:hover {
  background-color: #37585b;
  color: #f7c331;
}

.topnav .icon {
  display: none;
}

@media screen and (min-width: 425px) {
  .logo {
    width: 81%;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    width: 91%;
  }
}

@media screen and (min-width: 769px) {
  .logo {
    width: 165px;
  }
  .my-navbar__items {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .one,
  .two,
  .three,
  .my-navbar__toggle {
    display: none;
  }

  .my-navbar__items a {
    margin-left: 0;
    margin-right: 15px;
    font-size: 1.1em;
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    width: 165px;
  }
}

/* ---------------------------------------------------------- */
/* ----------- fFILTER EDIT * -----------/
/* ---------------------------------------------------------- */

.products__filter {
  display: flex;
  margin-bottom: 20px;
}

.products__filter button {
  width: 30%;
}

/* ---------------------------------------------------------- */
/* ----------- PUBLIC NAVBAR EDIT * -----------/
/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/*--------------- PRIVATE/HOME EDIT ---------------*/
/* ---------------------------------------------------------- */

.home__section {
  background: rgb(176, 224, 230);
  background: linear-gradient(
    0deg,
    rgb(117, 192, 202) 0%,
    rgba(240, 230, 140, 1) 100%
  );
  height: 100%;
}

.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin: -60px 5%;
}

.home__title {
  font-size: 2em;
  font-weight: bold;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.home__text {
  font-size: 1em;
  color: white;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media screen and (min-width: 768px) {
  .home__title {
    font-size: 3em;
  }

  .home__text {
    font-size: 1.5em;
  }
}

/* ---------------------------------------------------------- */
/* ---------- MY-PROFILE EDIT --------- */
/* ---------------------------------------------------------- */

.profile__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.profile__image {
  height: 150px;
  margin-bottom: 20px;
}

.profile__image a img {
  height: 150px;
  border-radius: 50%;
}

.profile__image:hover {
  transition: all 0.5s;
  transform: translateY(-10px);
}

.profile__info {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__info a {
  margin-top: 20px;
}

.profile__info a {
  background-color: white;
  border: 2px solid #f7c331;
  font-weight: bold;
}

.profile__info a:link {
  display: inline-block;
  text-align: center;
  font-size: 0.8em;
  border: 2px solid white;
  color: white;
  height: 25px;
  width: 100px;
}

.profile__content a:hover {
  color: #37585b;
  background-color: white;
}

.profile__products-text {
  font-size: 0.8em;
  color: #37585b;
  font-weight: bold;
}

.profile__products {
  display: flex;
  justify-content: space-around;
}

.profile__products a:hover {
  color: #37585b;
  text-decoration: none;
}

.profile__products-img {
  height: 100px;
  width: 100px;
  padding-top: 15px;
}

.profile__products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__products-container span {
  text-align: center;
}

.profile__products-container a img {
  width: 70px;
  height: 70px;
}

.profile__products-container a img:hover {
  transition: all 0.5s;
  transform: translateY(-10px);
}

@media screen and (min-width: 768px) {
  .profile__products {
    justify-content: space-evenly;
  }
  .profile__products-container a img {
    width: 100px;
    height: 100px;
  }
}

/* ---------------------------------------------------------- */
/* ---------- MY PRODUCTS EDIT --------- */
/* ---------------------------------------------------------- */

.my-products__page {
  border: solid 10px white;
}

.my-products__page button a {
  text-decoration: none;
  color: white;
}

.add-product-tag {
  background-color: #f7c331;
  border: #3f7e84 5px solid;
}

.my-products__container {
  display: flex;
  flex-direction: row;
}

.products-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: white solid 5px;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  height: 350px;
  width: 250px;
  background-color: #37585b;
}

.product-card-text {
  display: flex;
  text-align: center;
}

.product-card a:hover {
  text-decoration: none;
  color: #f7c331;
}

/* ---------------------------------------------------------- */
/* ---------- ALL PRODUCTS EDIT --------- */
/* ---------------------------------------------------------- */
.all-products__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.all-products__carousel {
  height: 400px;
}

.card {
  color: #37585b;
  text-align: center;
  margin: 15px 0;
  width: 100%;
}

.card__text {
  text-decoration: none;
  color: #37585b;
}

.card__image {
  width: 100%;
}

.card__title {
  font-size: 1.5em;
}

.card__description {
  font-size: 0.9em;
}

.card__button-container {
  display: flex;
  justify-content: space-evenly;
}

.card__button-container button {
  width: 48%;
}

.card__button-container button a {
  color: white;
}

@media screen and (min-width: 375px) {
  .card {
    width: 286px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ---------------------------------------------------------- */
/* ---------- PENDING EDIT --------- */
/* ---------------------------------------------------------- */

.pending-products__page {
  width: 90%;
  margin: 0 auto;
}

.pending-products__page h1 {
  font-size: 1.7em;
  margin-top: 32px;
  margin-bottom: 20px;
}

.pending-products__container {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.pending-products__container button {
  margin-bottom: 40px;
}

.pending-products__container button a {
  color: white;
}

.pending-products__container h2 {
  font-size: 1em;
  margin: 0 auto;
}

.pending-products__content:hover {
  padding: 10px;
  background: #fafafa;
  transition: all 0.5s;
  transform: translateX(10px);
}

.pending-products__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pending-products__title {
  font-size: 1.2em;
}

@media screen and (min-width: 768px) {
  .pending-products__content {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .pending-products__page {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .pending-products__page {
    width: 65%;
    margin: 0 auto;
  }
}

/* ---------------------------------------------------------- */
/* ---------- MY OFFERS  --------- */
/* ---------------------------------------------------------- */

.my-offers__container {
  width: 90%;
  margin: 20px auto 0 auto;
}

.my-offers__content {
  margin-bottom: 30px;
}

.my-offers__content h2 {
  font-size: 1.2em;
}

.my-offers__content:hover {
  padding: 10px;
  background: #fafafa;
  transition: all 0.5s;
  transform: translateX(10px);
}

@media screen and (min-width: 375px) {
  .my-offers__container {
    width: 77%;
  }
}
@media screen and (min-width: 768px) {
  .my-offers__cards {
    display: flex;
  }
}

/* ---------------------------------------------------------- */
/* ---------- ABOUT  --------- */
/* ---------------------------------------------------------- */

.about-container {
  background-color: #3f7e84;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

/* ---------------------------------------------------------- */
/* ----------- FINAL ORDER VIEW EDIT * -----------/
/* ---------------------------------------------------------- */

.order__form {
  width: 90%;
  margin: 20px auto 20px auto;
}

.order__form h2 {
  font-size: 1.5em;
}

.order__card {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.order__card span {
  margin-left: 10px;
}

.order__card input {
  margin-right: 10px;
}

@media screen and (min-width: 375px) {
  .order__form {
    width: 76%;
  }
}

@media screen and (min-width: 768px) {
  .order__my-products {
    display: flex;
    flex-wrap: wrap;
  }
}

/* ---------------------------------------------------------- */
/* ----------- NEW PRODUCT EDIT * -----------/
/* ---------------------------------------------------------- */
.new-product__form {
  width: 90%;
  margin: 20px auto 0 auto;
}

.new-product__image-group input {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .new-product__form {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .new-product__form {
    width: 63%;
    margin: 40px auto 0 auto;
  }
}

/* ---------------------------------------------------------- */
/* ----------- FINAL ORDER VIEW EDIT * -----------/
/* ---------------------------------------------------------- */

.final-order-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: white;
  background: linear-gradient(
    0deg,
    rgb(117, 192, 202) 0%,
    rgba(240, 230, 140, 1) 100%
  );
}

.final-order-container h1 {
  font-size: 2em;
}
.final-order-container p {
  font-size: 1.2em;
}

/* ---------------------------------------------------------- */
/* ---------- LOG IN EDIT --------- */
/* ---------------------------------------------------------- */

.login__container,
.login__content {
  height: 100%;
}

.login__container {
  background-color: #fafafa;
}

.login__content {
  display: flex;
  flex-direction: column;
}

.login__title {
  font-size: 25px;
  text-align: center;
  margin: 12% auto 5% auto;
}

.login-form__container {
  margin: 0 auto;
  width: 75%;
}

.login-form__content button {
  margin-top: 7%;
}

.login-form__content button:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .login__title {
    font-size: 32px;
    margin: 7% auto 5% auto;
  }

  .login-form__container {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .login-form__container {
    width: 55%;
  }
}

@media screen and (min-width: 1440px) {
  .login__title {
    font-size: 37px;
    margin: 5% auto;
  }

  .login-form__container {
    width: 45%;
  }
}
/* ---------------------------------------------------------- */
/* ---------- SIGNUP EDIT --------- */
/* ---------------------------------------------------------- */

.signup__container {
  background-color: #fafafa;
}

.signup__content {
  display: flex;
  flex-direction: column;
}

.signup__title {
  font-size: 25px;
  margin: 6% auto;
}

.signup-form__container {
  margin: 0 auto;
  width: 85%;
}

.signup-form__content button {
  margin-top: 7%;
}

.signup-form__content button:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}

.signup-form__input-group {
  display: flex;
}

.signup-form__input-group input:first-child {
  margin-right: 13px;
}

@media screen and (min-width: 768px) {
  .signup__title {
    font-size: 32px;
    margin: 5% auto;
  }

  .signup-form__container {
    width: 76%;
  }
}

@media screen and (min-width: 1024px) {
  .signup-form__container {
    width: 67%;
  }
}

/* RESPONSIVE FEATURES - BOOTSTRAP CODE */

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* end */
