<div class="my-navbar" id="myTopnav">

    <div class="logo">
        <a href="/"><img
                src="https://res.cloudinary.com/escambalapp/image/upload/v1570636194/escambal-app-folder/css.images/Copy_of_Untitled_l1ynt5.png"
                alt="logo"></a>
    </div>
    <div class="my-navbar__items">
        <a href="/" class="active">Página inicial</a>
        <a href="/about" class="active">Nossa história</a>
        <a href="/products">Nossos produtos</a>
        <a href="/signup">Crie sua conta!</a>
        <a href="/login">Login</a>
    </div>
    <div class="my-navbar__toggle">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
    </div>
</div>
<div class="home__section">
    <div class="home__container">
        <h1 class="home__title">ESCAMBAL</h1>
        <p class="home__text">Explore milhares de produtos e troque seus objetos por aquilo que faz sentido pra
            você!</p>
    </div>

</div>