<div class="topnav" id="myTopnav">

    <div class="logo">
    <a href="/"><img src="https://res.cloudinary.com/escambalapp/image/upload/v1570636194/escambal-app-folder/css.images/Copy_of_Untitled_l1ynt5.png" alt="logo"></a>
        </div>
    <div>
        <a href="#" class="" data-toggle="modal" data-target="#meuModal">Login</a>
            <div id="meuModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                        <!-- Conteúdo do modal-->
                        <div class="modal-content">

                        <!-- Cabeçalho do modal -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Corpo do modal -->
                        <div class="modal-body">
                            <form action="/login" method="POST">
                                <input type="text" name="email" placeholder="Email">
                                <br>
                                <input type="password" name="password" placeholder="Senha">
                                <br>
                                    {{#if errorMessage}}
                                <p>{{errorMessage}}</p>
                                    {{/if}}
                                <button class="crazy-button" type="submit">Entrar</button>
                            </form>
                        </div>
                        <!-- Rodapé do modal-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
                <a href="/signup" class="active">Crie sua conta!</a>
                <a href="/about">Nossa história</a>
                <a href="/products">Nossos produtos</a>
                <a href="/" class="active">Página inicial</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
        </div>
</div>
<div class="login-container">
<div class="card bg-dark text-white">
  <img class="card-img" src="https://res.cloudinary.com/escambalapp/image/upload/v1570512135/escambal-app-folder/css.images/photo-1536082555308-99948d5c8ecf_syyipb.jpg" alt="Card image">
  <div class="card-img-overlay">
    <div class="login-card-container">
    <section class="login-section">
        <div class="login">
            <h1 class="login-text-login">Login</h1>
            <form action="/login" method="POST">
                <input type="text" name="email" placeholder="Email">
                <br>
                <input type="password" name="password" placeholder="Senha">
                <br>
                {{#if errorMessage}}
                <p>{{errorMessage}}</p>
                {{/if}}
                <button class="crazy-button" type="submit">Login</button>
            </form>

            <div class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Modal body text goes here.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
  </div>
</div>

</div>