<div class="my-navbar" id="myTopnav">

    <div class="logo">
        <a href="/"><img
                src="https://res.cloudinary.com/escambalapp/image/upload/v1570636194/escambal-app-folder/css.images/Copy_of_Untitled_l1ynt5.png"
                alt="logo"></a>
    </div>
    <div class="my-navbar__items">
        <a href="/" class="active">Página inicial</a>
        <a href="/about" class="active">Nossa história</a>
        <a href="/products">Nossos produtos</a>
        <a href="/signup">Crie sua conta!</a>
        <a href="/login">Login</a>
    </div>
    <div class="my-navbar__toggle">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
    </div>
</div>
<div class="signup__container">
    <div class="signup__content">
        <h1 class="signup__title">Bem vindo ao Escambal</h1>
        <div class="signup-form__container">
            <form action="/signup" method="POST" class="signup-form__content">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Nome">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Email">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Crie sua senha">
                </div>

                <div class="form-group">
                    <input type="number" class="form-control" name="cpf" placeholder="CPF">
                </div>

                <div class="form-group signup-form__input-group">
                    <input type="text" class="form-control" name="state" placeholder="Estado">
                    <input type="text" class="form-control" name="city" placeholder="Cidade">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="road" placeholder="Endereço">
                </div>

                <div class="form-group signup-form__input-group">
                    <input type="number" class="form-control" name="number" placeholder="Número">
                    <input type="text" class="form-control" name="complement" placeholder="Complemento">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="cep" placeholder="CEP">
                </div>

                <div class="form-group">
                    <input type="number" class="form-control" name="phoneNumber" placeholder="Celular">
                </div>

                {{#if errorMessage}}
                <p>{{errorMessage}}</p>
                {{/if}}
                <button class="btn btn-secondary btn-lg btn-block" type="submit">Salvar</button>
            </form>
        </div>
    </div>
</div>